
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Priyanshu Singh</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'img/myimg.jpeg' %}" >
					<hr>
                    
					<h4>Hi I'm Priyanshu Singh</h4>
					<p>I love coding and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
                    <h1>Web Developer</h1>
					
					<hr>
                    <h4>Career Objective:-</h4>
					<p> Seeking an internship in web development to apply my strategic thinking and creativity.</p>
                    <p>Dedicated to staying current with emerging web technologies and trends</p>
                      <p>I am seeking a challenging role where I can leverage my skills in frontend 
                        and backend development to contribute to innovative and impactful projects 
                        while continuously expanding my expertise."</P>
						

						<h5>Contact Me :-</h5>
					<p>Mobile No: +919140240890</p>
				<p>E-mail-priyanshu2032004@gmail.com</p>
<ul class="social-links">
<li>
    <a href="https://www.facebook.com/people/Priyanshu-Singh/pfbid02WE8ai9FKZcuJN6Gqgxp1H4Ho4JjexYF7xSUJGkeKWbnuPFgA5Vt1aqEMfaU9azpjl/" target="_blank">
        <img class="social" src="{% static 'img/facebook.png' %}" alt="Facebook">
    </a>
</li>
<li>
    <a href="https://www.linkedin.com/in/priyanshu-singh-3935671b7/"target="_blank">
        <img class="social" src="{% static 'img/linkedin.png' %}" alt="LinkedIn">
    </a>
</li>
<li>
    <a href="https://twitter.com/priyanshu7970"target="_blank">
        <img class="social" src="{% static 'img/twitter.png' %}" alt="Twitter">
    </a>
</li>
<li>
    <a href="https://github.com/singh7970"target="_blank">
        <img class="social" src="{% static 'img/github-logo.png' %}" alt="GitHub">
    </a>
</li>
						
					</ul>
					

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Certifications and Courses:</h5>
					<hr>
					<p><b>Great Learning Certificates</b></p>
					<p>Python MySQL</p>
					<p>Django in Hindi</p>
					<p>Python Fundamentals for Beginners</p>
					<p>React JS in </p>

					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Skills:-</h5>
					<hr>
					
						<p>•HTML/CSS</p>
						<p>•JAVA SCRIPT</p>
						<p>•PYTHON PROGRAMMING LANGUAGE</p>
						<p>•MYSQL DATABASE</p>
						<p>•GETHUB</p>
						<p>•DJANGO</p>
					
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Academic & Graduation Qualification:-</h5>
					<hr>
					
					<p>•High School passed from HAL korwa, Amethi in 2019.</P>
						
						<p>•Intermediate passed from HAL Korwa, Amethi in 2021.</P>
							<p>Pursing B.C.A. 3rd year from IAMR College Meerut. </P></div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Projects</h5>
				<hr>
				<p>Applying my knowledge by building small web projects. This could include :--

					<p> <mark> 1-"WEATHER API applications",</mark></p>
					 <p>	<mark>2- to-do lists,</mark></p>
						<p>	<mark>3- "USER LOGIN SYSTEM" </mark></p>
					<p><mark>or other simple web applications </mark>.</p></p>
				
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>
